body {
    font-family:"Segoe UI", Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}
.navbar {
    background-color: #1f4e79;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}
.menu-icon a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-nav li {
    margin-left: 20px;      
}
.navbar-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.navbar-nav a:hover {
    text-decoration: underline;
}
.logout a {
    font-weight: bold;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #163d5c;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}
.side-nav a {
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}
.side-nav a:hover {
    background-color: #285b86;
}
.btn-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
}
.container {
    width : 1000px;
    max-width: 95%;
    margin: 40px auto;
    background-color: white;
    border: 1px solid #ccc;
    padding : 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.container h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 25px;
}
.container p {
    text-align: center;
}
hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
}
.submit {
    width: 100%;
    padding: 10px;
    background-color: #1f4e79;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.submit:hover {
    background-color: #163d5c;
}
.tambah {
    display: inline-block;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 18px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px;
}
.tambah:hover {
    background-color: #3f9442;
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}
th {
    background-color: #1f4e79;
    color: white;
}
th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
tr:hover {
    background-color: #e8f1ff;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
th:last-child,
td:last-child {
    width: 150px;
}
.btn-edit,
.btn-delete {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
}
.btn-edit {
    background-color: #2196f3;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}
.btn-edit:hover {
  background-color: #0f2b4d;
}
.btn-delete {
    background-color: #f44336;
    color: white;
    cursor: pointer;
    margin-left: 1px;
    text-align: center;
}
td img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.form-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input[type="text"],
.form-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.radio-group {
  display: flex;
  gap: 20px;
}


